<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/styles.ejs') %>
    <title>AstroPage</title>
    
</head>
<body>
        <nav class="navbar">
            <div class="container-sx">
                <a class="image" href="/">
                    <img class="rounded-circle p-3 w-100 h-100 float-left animated bouncelinLeft" src="https://thumbs.dreamstime.com/b/c%C3%ADrculo-del-zodiaco-con-s%C3%ADmbolos-de-la-astrolog%C3%ADa-en-el-estilo-ne%C3%B3n-132908601.jpg" alt="Responsive image" srcset="">
                </a>   
                <span class="titulo animated fadeInDownBig">Astropage</span> 
                <div class="d-flex justify-content-end">
                    <a class="nav-link" href="/chart-selector">Creador de cartas</a>
                    <a class="nav-link" href="/list-selector">Lista de atributos</a>
                    <a class="nav-link" href="/solar-revolution">Revolucion solar</a>
                </div>        
            </div>  
          </nav>

          <br>
          

          <div class="container">
              <a class="chart-creator" href="/chart-selector">
            <div class="card animated flipInY" style="width: 25rem;  ;">
                <img class="img-carta" src="https://assets.miastral.com/wp-content/uploads/2019/03/11154636/astrobasico-los-puntos-importantes-de-tu-carta-natal-descargable-745x1024.jpg" alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title"> Creador de cartas</h1>
                  <p class="card-text">Esta seccion sirve para la creacion de informes de carta natal, ingresando los datos de los distintos planetas y sus casas individualmente se crea el informe de esta misma</p>
                </div>
            </a>  
            </div>
          </div>

          <br>
          <br>
</body>
</html>